// Text helpers
.fs-body {
  font-size: 1rem;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-tiny {
  font-size: 12px;
}

// layouts

.container {
  max-width: 1095px;
  margin: 0 auto;
  @media screen and (max-width: 1095px) {
    margin-inline: 1.5rem;
  }
}

// Buttons

.btn {
  font-size: 1rem;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  border-width: 1px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    background-color: $primary;
    color: white;
    border: 1px solid $primary;
    &:not([disabled]):hover {
      background-color: $secondary;
      border-color: $secondary;
    }

    &:disabled {
      background-color: $neutral;
      border: 1px solid $neutral;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $secondary;
    border: 1px solid;

    &:not([disabled]):hover {
      background-color: $gray;
      border-color: $gray;
      color: white;
    }

    &:disabled {
      border: 1px solid $neutral;
      color: #aab8c2;
    }
  }
}

// input and select

.input,
input,
select {
  border: 1px solid $neutral;
  padding: $btn-padding-y 1rem;
  border-radius: $btn-border-radius;
  box-sizing: border-box;
  background-color: transparent;
  &:hover {
    border-color: #b5d9bb;
  }

  &:focus {
    outline: 1px solid $primary;
  }
}

.select {
  position: relative;
  &-wrapper {
    position: absolute;
  }
  &-option-body {
    position: relative;
    &.isActive {
      .select-option-wrapper {
        display: block;
      }
    }
  }
  &-option-item {
    padding: $btn-padding-y $btn-padding-x;
    cursor: pointer;
    &:not(:last-of-type) {
      border-bottom: 1px solid $neutral;
    }
    &:hover {
      background-color: #eeeeee;
    }
    img,
    svg {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }
  }
  &-option-wrapper {
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
    border-radius: $btn-border-radius;
    z-index: 3;
    display: none;
  }
  &-option-trigger {
    cursor: pointer;
    @extend .input;
    position: relative;
    width: 100%;
    text-align: left;
    &::after {
      content: "▾";
      position: absolute;
      margin-left: auto;
      right: 2%;
    }
  }
}
